@font-face {
  font-family: "Aeroport400";
  src: url(../fonts/Aeroport.ttf);
}

@font-face {
  font-family: "Aeroport500";
  src: url(../fonts/Aeroport-Medium.ttf);
}

@font-face {
  font-family: "AeroportBold";
  src: url(../fonts/Aeroport-Bold.ttf);
}

:root {
  --width: 1538px;
}

.section__search {
  max-width: var(--width);
  width: 79.2%;
  height: 553px;
  background: #e3effd 0% 0% no-repeat padding-box;
  border-radius: 20px;
  opacity: 1;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.section__search--text {
  width: 50%;
  padding: 92px 0 0 80px;
}

.section__search .search__img {
  margin-right: 21px;
  margin-top: 38.85px;
  margin-bottom: 14.85px;
  width: 566px;
  height: 499.29px;
}

.section__search--text .title {
  font: normal normal normal 56px/71px Aeroport500;
  letter-spacing: 0px;
  color: #252525;
  height: 76px;
}

.section__search--text .subtitle {
  font: normal normal normal 22px/38px Aeroport400;
  letter-spacing: 0px;
  color: #252525;
  height: 30px;
}

.section__search--tag-container {
  display: flex;
  margin-top: 48px;
  gap: 14px;
}

.section__search--tag-container .section__search--tag {
  width: 74px;
  height: 34px;
  background: #d8e9ff 0% 0% no-repeat padding-box;
  border-radius: 24px;
  font: normal normal normal 18px/38px Aeroport500;
  letter-spacing: 0px;
  color: #3881e0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.section__search--tag-container .section__search--tag:hover {
  background: transparent linear-gradient(89deg, #00aaff 0%, #3271fe 100%) 0% 0%
    no-repeat padding-box;
  color: #fff;
  transition: 0.3s all;
}

.section__search--tag-container .active {
  background: transparent linear-gradient(89deg, #00aaff 0%, #3271fe 100%) 0% 0%
    no-repeat padding-box;
  color: #fff;
}

.section__search--text a {
  text-decoration: underline;
  font: normal normal normal 18px/38px Aeroport400;
  letter-spacing: 0px;
  color: #252525;
  margin-top: 21px;
  height: 25px;
  display: flex;
  align-items: end;
}

.section__search--text .search {
  margin-top: 58px;
  width: 156px;
  height: 66px;
  background: transparent linear-gradient(89deg, #00aaff 0%, #3271fe 100%) 0% 0%
    no-repeat padding-box;
  border-radius: 8px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__search--text .search a {
  color: #ffffff;
  text-decoration: none;
  font: normal normal normal 24px/51px Aeroport400;
  letter-spacing: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 0;
}

.section__search .section__search--text .search--btn .search:hover {
  background: transparent linear-gradient(90deg, #FF4848 0%, #CB0404 100%) 0% 0% no-repeat padding-box;
  transition: .3s all;
}

.section__info {
  max-width: var(--width);
  width: 79.2%;
  display: grid;
  gap: 30px;
  margin: 80px auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.section__info .section__info--card {
  width: calc(100% - 60px);
  height: auto;
  background: #e3effd 0% 0% no-repeat padding-box;
  border-radius: 20px;
  padding: 0 30px;
  margin: 0 auto;
  padding-bottom: 30px;
}

.section__info .section__info--card .card__img {
  margin-top: 40px;
  width: 83px;
  height: 84px;
  background: transparent linear-gradient(220deg, #00aaff 0%, #3271fe 100%) 0%
    0% no-repeat padding-box;
  border-radius: 16px;
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__info .section__info--card h2 {
  text-align: left;
  font: normal normal bold 26px/30px AeroportBold;
  letter-spacing: 0px;
  color: #252525;
  margin-bottom: 11px;
}

.section__info .section__info--card p {
  font: normal normal normal 20px/28px Aeroport400;
  letter-spacing: 0px;
  color: #252525;
}

.section__info .section__info--card:hover {
  background: transparent linear-gradient(42deg, #3271fe 0%, #00aaff 100%) 0% 0%
    no-repeat padding-box;
  box-shadow: 0px 16px 33px #2482ff9c;
  transition: .3s all;
}

.section__info .section__info--card:hover .card__img {
  background: #e9f4ff 0% 0% no-repeat padding-box;
  transition: .3s all;
}

.section__info .section__info--card:hover .card__img svg g path {
  fill: #1e88fe;
  transition: .3s all;
}

.section__info .section__info--card:hover h2,
.section__info .section__info--card:hover p {
  color: #fff;
  transition: .3s all;
}

.section__project {
  max-width: var(--width);
  width: calc(79.2% - 200px);
  margin: 150px auto;
  background: #8c8c8c 0% 0% no-repeat padding-box;
  border-radius: 20px;
  padding: 0 100px;
}

.section__project .title {
  padding-top: 90px;
  font: normal normal normal 34px/38px Aeroport500;
  letter-spacing: 0px;
  color: #ffffff;
}

.section__project .section__project-info--container {
  display: flex;
  gap: 30px;
}

.section__project .section__project-info--container .section__project-info {
  font: normal normal normal 20px/32px Aeroport400;
  letter-spacing: 0px;
  color: #ffffff;
  width: 754px;
  margin-top: 40px;
  margin-bottom: 83px;
}

@media (max-width: 1750px) {
  .section__search {
    flex-direction: column-reverse;
    height: auto;
    align-items: center;
    text-align: center;
  }

  .section__search .section__search--text {
    text-align: center;
    padding: 0;
    width: 100%;
  }

  .section__search .search__img,
  .section__search .search__img img {
    width: 300px;
    height: 267px;
    margin-bottom: 22px;
  }

  .section__search .section__search--text .title {
    font: normal normal normal 38px/42px Aeroport500;
    letter-spacing: 0px;
    color: #252525;
    margin-bottom: 15px;
    height: 42px;
  }

  .section__search .section__search--text .subtitle {
    font: normal normal normal 18px/24px Aeroport400;
    letter-spacing: 0px;
    color: #252525;
    margin-bottom: 38px;
  }

  .section__search--tag-container {
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
  }

  .section__search--tag-container .section__search--tag {
    width: 60px;
    height: 28px;
    font: normal normal normal 16px/28px Aeroport500;
    letter-spacing: 0px;
    color: #3881e0;
  }

  .section__search--tag-container .active {
    color: #fff;
  }

  .section__search .section__search--text a {
    font: normal normal normal 16px/38px Aeroport400;
    text-align: center;
    display: block;
    margin-bottom: 44px;
  }

  .section__search .section__search--text .search {
    width: 360px;
    height: 56px;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .section__search .section__search--text .search a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font: normal normal normal 20px/51px Aeroport400;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-bottom: 0;
    display: inline;
  }
}

@media (max-width: 1580px) {
  .section__info .section__info--card .card__img, .section__info .section__info--card .card__img svg {
    width: 70px;
    height: 70px;
  }

  .section__info .section__info--card h2 {
    font: normal normal bold 20px/24px AeroportBold;
  }

  .section__info .section__info--card p {
    font: normal normal normal 16px/22px Aeroport400;
  }
}

@media (max-width: 1350px) {
  .section__info {
    grid-template-columns: 1fr 1fr;
    width: 79.3%;
  }
}

@media (max-width: 1250px) {
  .section__project .section__project-info--container {
    flex-direction: column;
    gap: 0
  }

  .section__project {
    padding: 50px 41px;
    width: calc(79.2% - 82px);
  }

  .section__project .title {
    margin-bottom: 22px;
    padding: 0;
  }

  .section__project .section__project-info--container .section__project-info {
    width: 100%;
  }

  .section__project .section__project-info--container .section__project-info {
    margin-bottom: 0;
    margin-top: 0;
  }
}

@media (max-width: 800px) {
  .section__info {
    margin: 80px 0;
    margin-left: 10%;
  }
}


@media (max-width: 768px) {
  .section__project .section__project-info--container {
    flex-direction: column;
    gap: 0
  }

  .section__project {
    padding: 50px 41px;
    width: calc(79.2% - 82px);
  }

  .section__project .title {
    margin-bottom: 22px;
    padding: 0;
  }

  .section__project .section__project-info--container .section__project-info {
    width: 100%;
  }

  .section__project .section__project-info--container .section__project-info {
    margin-bottom: 0;
    margin-top: 0;
  }

  .section__project {
    margin: 60px auto;
  }

  .section__project .title {
    font: normal normal normal 24px/32px Aeroport500;
  }
}

@media (max-width: 690px) {
  .section__search {
    width: calc(91.7% - 46px);
    padding: 0 23px;
  }

  .section__search .section__search--text .title {
    font: normal normal normal 28px/30px Aeroport500;
    margin-bottom: 7px;
  }

  .section__search .section__search--text .subtitle {
    font: normal normal normal 16px/22px Aeroport400;
  }

  .section__search .search__img, .section__search .search__img img {
    width: 240px;
    height: 212px;
    margin-bottom: 23px;
    margin-right: 0;
  }

  .section__search .section__search--text .search--btn {
    display: flex;
    flex-direction: column-reverse;
  }

  .section__search .section__search--text .search--btn a {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 40px;
    font: normal normal normal 16px/24px Aeroport400;
  }

  .section__search .section__search--text .search--btn .search {
    margin-top: 40px;
    width: 286px;
    height: 56px;
    margin-bottom: 0;
  }

  .section__search .section__search--text .search--btn .search a {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section__info {
    grid-template-columns: 1fr;
    margin: 30px auto;
    width: 91.7%;
  }
  
  .section__info .section__info--card h2 {
    font: normal normal bold 20px/24px AeroportBold;
  }

  .section__info .section__info--card p {
    font: normal normal normal 16px/22px Aeroport400;
    margin-bottom: 30px;
  }

  .section__project {
    width: calc(91.7% - 44px);
    padding: 40px 22px;
    height: auto;
  }

  .section__project .title {
    font: normal normal normal 24px/32px Aeroport500;
  }

  .section__project .section__project-info--container .section__project-info {
    font: normal normal normal 16px/22px Aeroport400;
  }
}

@media (max-width: 442px) {
  .section__search .section__search--text .subtitle {
    margin-top: 30px;
  }

  .section__search .section__search--text .search--btn .search {
    width: 100%;
  }
}

@media (max-width: 350px) {
  .section__search {
    padding: 0 13px;
    width: calc(91.7% - 26px);
  }

  .section__info .section__info--card {
    padding: 0 13px;
    width: calc(100% - 26px);
  }
}